---
interface Props {
  title: string;
  description: string;
  favicon: string;
}

const { title, description, favicon } = Astro.props;
const canonicalUrl = Astro.url.href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />

<title>{title}</title>
<link rel="icon" type="image/png" href={favicon} />
<link rel="canonical" href={canonicalUrl} />
